%h1 Listing events

= link_to 'New Event', new_event_path, class: 'btn btn-sm btn-primary'

%table.table
  %thead
    %tr
      %th Name
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.name, event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
