.default.controls
  .row
    .col-md-12
      = link_to 'New Event', new_event_path, class: 'btn btn-sm btn-primary'
%br.clear

- if @current_events.present?
  .default.current
    %h1 Currently Running Events
    .events
      = render partial: 'event', collection: @current_events
  %br.clear

- if @upcoming_events.present?
  .default.upcoming
    %h1 Upcoming Events
    .events
      = render partial: 'event', collection: @upcoming_events
  %br.clear

- if @past_events.present?
  .default.past
    %h1 Past Events
    .events
      = render partial: 'event', collection: @past_events
  %br.clear
