.event[@event]
  %h2= @event.name

  = link_to "Add day", new_event_day_path(@event), class: 'btn btn-info'

  %h4 Days

  %ul
    - @event.days.each do |day|
      %li= link_to day.name, event_day_path(@event, day)
