.row
  .col-md-12
    .default
      %h1 Blocks for #{@event.name}, #{@day.name}

      = link_to 'New Block', new_event_day_block_path(@event, @day),
                class: 'btn btn-primary'
      .blocks
        = render @blocks
