.row
  .col-md-4.offset-md-4.default
    %p#notice= notice

    %p
      %b Name:
      = @block.name
    %p
      %b Block type:
      = block_type_to_string(@block.block_type)
    %p
      %b Duration:
      #{@block.duration} minutes
