// Place all the styles related to the blocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block_musical_act {
  background-color: 'green'
}

.block_setup {
  background-color: 'red'
}

.block_sound_check {
  background-color: 'yellow'
}
